<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/styles/default.min.css">
        <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
        {% seo %}
        {% include head-custom.html %}
    </head>
    <body>
        <section class="section">
            <div class="container">
                <div class="content">
                    <div class="columns">
                        <div class="column is-9">
                            {{ content }}
                        </div>
                        <div class="column is-3">
                            <h4>Posts</h4>
                            <ul>
                                {% for post in site.posts %}
                                  <li>
                                    <a href="{{ post.url }}">{{ post.title }}</a>
                                  </li>
                                {% endfor %}
                              </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content has-text-centered" style="padding: 2em;">
                <p>
                    <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
                    <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                    is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
                  </p>
            </div>
        </section>
        <style>
            .content pre {
              margin-bottom:2em;
            }
        </style>
    </body>
</html>
