<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/styles/default.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
        {% seo %}
        {% include head-custom.html %}
    </head>
    <body>
        <section class="section">
            <div class="container">
                <div class="content has-text-centered-mobile has-text-left-desktop">
                    <span class="title is-size-3-desktop is-size-3-mobile"><a href="https://blog.endr.in" style="text-decoration: none; color: #4a4a4a; font-family: 'Oleo Script', cursive;">blog.endr.in</a></span>
                </div>
                <div class="content">
                    <div class="columns">
                        <div class="column">
                            {{ content }}
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="content has-text-centered" style="padding: 2em;">                
                <hr />
                <p>
                    <a href="/tags">Tags</a>&nbsp;|&nbsp;<a href="/archive">Archive</a>&nbsp;|&nbsp;contact@endr.in
                </p>              
                <p class=is-size-7>
                    <a href="https://blog.endr.in">blog.endr.in</a> is a subsidiary of endr.in and the content of this site is licensed under CC attribution. The content available on this site are for educational purpose only. If you have sole right to a portion/whole, then kindly write to us at <span class="has-text-primary-dark">contact@endr.in</span> for take down of relevent content. 
                </p>               
            </div>
        </section>
        <style>
            .content pre {
              margin-bottom:2em;
            }

            .custom ol {
                list-style: none;
                counter-reset: cupcake;
                /* padding-left: 32px; */
                }
                .custom ol li {
                counter-increment: cupcake;
                list-style-type: none;
                }
                .custom ol li:before {
                content: counters(cupcake, ".") ". ";
                }
        </style>
    </body>
</html>
