<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/styles/default.min.css">
        <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
        {% seo %}
        {% include head-custom.html %}
    </head>
    <body>
        <section class="section">
            <div class="container">
                <div class="content has-text-centered-mobile has-text-left-desktop">
                    <span class="title is-size-2-desktop is-size-3-mobile">endr.in</span>
                </div>
                <div class="content">
                    <div class="columns">
                        <div class="column is-8">
                            {{ content }}
                        </div>
                        <div class="column is-4">
                            <span class="title is-size-4">Pages</span>
                            <ul>
                                <li><a href="/study" class="is-capitalized">Study</a></li>
                                <li><a href="/cheatsheet" class="is-capitalized">cheatsheet</a></li>
                            </ul>                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="content has-text-centered" style="padding: 2em;">
                <hr />
                <p>
                    <a href="https://blog.endr.in">blog.endr.in</a> is a subsidiary of endr org and the content of this site is licensed under CC attribution. 
                </p>
                <p class="is-size-7">
                    The content available on this site are for educational purpose only. If you have sole right to a portion/whole, then kindly write to use at contact@endr.in for take down of relevent content. 
                </p>
            </div>
        </section>
        <style>
            .content pre {
              margin-bottom:2em;
            }
        </style>
    </body>
</html>
